#
# For a description of the syntax of this configuration file,
# see scripts/kbuild/config-language.txt.
#

menu "Lab Practice"

source "lab/rlk/Kconfig" 

config Lab_opennna
	bool "Lab_OpenNNA"
endmenu
